.Navbar{
    background-color: #026AA7;
    height: 6vh;
}
#basic-nav-dropdown,
.menu-icon{
    color: white;
}
Button{
    align-self: center;
}
.container-boards,
.container-section{
    display: flex;
}
.me-2{
    background-color: #067cc0;
    padding: 0px;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 3px;
    height: 80%;
}
.search{
    translate: 250% 0;
}
.rows{
    display: flex;
}
.sidebar{
    background-color:aliceblue;
    padding: 10px 0px;
    border-right: 1px solid #c5c5c5;
}

.side-bar-title{
    display: block;
 
}
.side-bar-title span{
    padding: 10px;
}
.side-bar-title:hover{
    background-color: rgb(0, 0, 0,0.1) !important;
    cursor: pointer;
}
.full-container{
    height: 94vh;
}
.board-filters{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px ;
    border-bottom: 1px solid #c5c5c5;
    border-top: 1px solid #c5c5c5;
}
.board-sortby,
.board-filterby{
    display: flex;
    flex-direction: column;
}
#dropdown-basic{
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 2px;
}
.container-header{
    padding: 15px 0px;
}
.boards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 10px 0px;
    flex-wrap: wrap;
    row-gap: 20px;
    gap: 10px;
    justify-content: space-between;
}
.board{
    display: flex;
    height: 20vh;
    border: none;
    border-radius: 10px;
    background-color: #c5c5c5;
    color: white;
    box-sizing: border-box;
    cursor: pointer;
    width: 100%;
}
.board-name{
    background: rgba(16, 17, 16, 0.5);
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    height: 100%;
    color: white;
   
}
.main-container{
    padding-left: 10px;
    overflow-x: auto;
}
.lists{
    display: flex;
    gap: 10px;
    padding: 15px;
    min-width: 20vw;
}
.card-header{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    border-bottom: 1px solid black;
}
.list-container{
    background-color:beige;
    border-radius: 10px;
    padding: 10px;
}
.add-a-card{
    display: flex;
    flex-direction: column;
    border-top: 1px solid black;
    padding-top: 5px;
    align-items: center;
    justify-content: center;
}
.card-text{
    width: 80%;
    margin-bottom: 5px;
    border: none;
    border-radius: 5px;
}
.list-icon{
    padding-top: 3px;
    font-size: 18px;
}
.card-name{
    background: white;
    border-radius: 5px;
    padding: 2px 5px;
    display: flex;
    justify-content: space-between;
}
.create-board{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-color: #ccc;
    border-radius: 10px;
    padding: 0px 5px;
    height: 20vh;
    margin: 15px;
}
.board-text{
    width: 100%;
    border: none;
    padding: 5px 2px;
    border-radius: 5px;
}
.add-board-button{
    margin: 10px;
}
.add-a-list{
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 20vh;
    width: 100%;
}
.list-text{
    background: 5px;
    background-color: white;
    margin-bottom: 10px;
}
.delete h4{
    transform: rotate(90deg);
    margin-top: 20px;
}
.delete{
    width: 20%;
    visibility: hidden;
}
.board:hover .delete{
    visibility: visible;
}
.delete-card{
    visibility: hidden;
}
.card-name:hover .delete-card{
    visibility: visible;
}
.delete-list{
    margin-left: 5px;
    visibility: hidden;
}
.list-container:hover .delete-list{
    visibility: visible;
}
.lds-ellipsis {
    display: flex;
    justify-content: center;
    /* justify-self: center;
    position: relative;
    width: 80px;
    height: 80px; */
  }
  .lds-ellipsis div {
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #067cc0;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  